/* Base styles */

.site-title {
	margin-bottom: 0;
}

.main-menu {
	padding: .4em 1em;
	color: white;
	background: hsl(0, 0%, 20%);
}

.content{
	width: 100vw;
	display: flex;
	justify-content: space-between;
}

.post-content {
	/* width: 55vw;
	margin: 0% 75% 0% 25%; */
	flex-grow: 3;
}

.sidebar {
	padding: .5em 1.4em 1em;
	background: hsl(0, 0%, 90%);

	flex-grow: 1;
	/* display: flex;
	flex-direction: column;
	align-items: flex-end; */
}

.example-menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.example-menu a {
	display: block;
	padding: .4em 0;
	color: inherit;
	text-decoration: none;
	transition: all 0.5s ease;
}

.example-menu a:hover,
.example-menu a:focus {
	padding: .4em 1em;
	background: hsl(0, 0%, 20%);
	color: white;
}

.footer-area {
	padding: .4em 1em;
	text-align: center;
	background: hsl(0, 0%, 75%);
}
















